<h1><em>Welcome to the Admin Panel</em></h1>

<ul>
  <li><%= link_to "Manage Users", admin_users_path %></li>
  <li><%= link_to "Manage Listings", admin_listings_path %></li>
  <li><%= link_to "Manage Categories", admin_categories_path %></li>
</ul>
