<!-- app/views/message_mailer/send_message.html.erb -->
<h1>Novo sporočilo glede vašega oglasa</h1>
<p>Prejeli ste novo sporočilo glede vašega oglasa "<%= @listing.title %>".</p>
<p><strong>Vsebina sporočila:</strong></p>
<p><%= @message.content %></p>
