<h1>Manage Categories</h1>

<%= link_to "New Category", new_admin_category_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to "Edit", edit_admin_category_path(category) %> |
        <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>
